@inherits ComponentHistoryApplyBase

<div class="history">
    <div class="row">
        @foreach (var item in historyApply)
        {
            <div class="col-lg-8">
                <div class="d-flex mb-1 flex-wrap button-edit-mobile">
                    <DxButton Text="Edit Jawaban"
                          Click="() => goEdit(item.lowonganId)"
                          RenderStyle="ButtonRenderStyle.Info"
                         CssClass="ms-auto"
                          RenderStyleMode="ButtonRenderStyleMode.Contained">
                    </DxButton>
                </div>
                <div @onclick="() => goEdit(item.lowonganId)" class="history-content mb-3 mb-sm-2 border-2 rounded-start border border-dark">
                    <div class="his d-flex flex-wrap justify-content-between align-items-center">
                        <h6 class="mb-0">@item.judulLowongan </h6>
                        <span class="badge bg-success mb-0">@item.statusLamaran</span>
                        <p class="mb-0 tgl">@item.tglApply.ToString("dd-MMMM-yyyy")</p>
                        <p class="mb-0 button-edit">
                            <DxButton Text="Edit Jawaban"
                                  Click="() => goEdit(item.lowonganId)"
                                  RenderStyle="ButtonRenderStyle.Info"
                                  RenderStyleMode="ButtonRenderStyleMode.Contained">
                            </DxButton>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

}
