.pengalaman {
  margin-top: 20px;
  padding-bottom: 15px;
}
.pengalaman .header h5 {
  color: #515357;
  font-size: 20px;
  margin-bottom: 0.8rem;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.pengalaman .card-pengalaman .card {
  -ms-flex-direction: column;
  background-clip: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #e5e9f2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
.pengalaman .card-pengalaman .card .card-header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom: 1px solid #e5e9f2;
  color: inherit;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
}
.pengalaman .card-pengalaman .card .card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}
.pengalaman .card-pengalaman .card .card-header .card-title {
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #515357;
}
.pengalaman .card-pengalaman .card .card-header .icon .edit {
  color: saddlebrown;
  cursor: pointer;
}
.pengalaman .card-pengalaman .card .card-header .icon .delete {
  color: orangered;
  cursor: pointer;
}
.pengalaman .card-pengalaman .card .card-body {
  padding-left: 8px;
}
.pengalaman .card-pengalaman .card .card-body .task-list {
  list-style: none;
  margin: 0;
  padding: 15px 0 0;
  position: relative;
}
.pengalaman .card-pengalaman .card .card-body .task-list:after {
  background: #ecedef;
  content: "";
  height: 100%;
  left: 30px;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 1;
}
.pengalaman .card-pengalaman .card .card-body .task-list li {
  margin-bottom: 30px;
  padding-left: 55px;
  position: relative;
}
.pengalaman .card-pengalaman .card .card-body .task-list li:last-child {
  margin-bottom: 0;
}
.pengalaman .card-pengalaman .card .card-body .task-list li h6 {
  letter-spacing: 0.1px;
  line-height: 12px;
  color: #202124;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.pengalaman .card-pengalaman .card .card-body .task-list li p {
  margin: 0;
  padding: 0;
}
.pengalaman .card-pengalaman .card .card-body .task-list li .task-icon {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background: #ececec;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  height: 27px;
  width: 27px;
  left: 17px;
  padding-left: 7px;
  padding-top: 6px;
  position: absolute;
  top: 0px;
  z-index: 2;
  color: #515357;
}