@page "/PelamarResetPassword"
@inherits PelamarResetPasswordBase

<PageTitle>Reset Password</PageTitle>

<div class="otp-container">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Reset password saat ini</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nomor Otp</label>
                            <DxTextBox NullText="Otp..."
                                       CssClass="form-custom"
                                       InputCssClass="text-area-custom"
                                       @bind-Text="@otp"
                                       BindValueMode="BindValueMode.OnInput"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        </div>
                        <DxButton Click="resetPassword"
                                  Text="Reset Password"
                                  RenderStyle="ButtonRenderStyle.Primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
