@page "/requestOtp"
@inherits PelamarRequestOtpResetPasswordBase

<PageTitle>requestOtp</PageTitle>
<div class="otp-container">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Request Otp</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <DxTextBox NullText="Email..."
                                       CssClass="form-custom"
                                       InputCssClass="text-area-custom"
                                       @bind-Text="@email"
                                       BindValueMode="BindValueMode.OnInput"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        </div>
                        <DxButton Click="requestOtp"
                                  Text="Request Otp"
                                  RenderStyle="ButtonRenderStyle.Primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    }
