.setting {
  margin-top: 20px;
}
.setting .judul {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 2rem;
}
.setting .card-setting {
  margin-top: 20px;
  -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  -ms-flex-direction: column;
  background-clip: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #e5e9f2;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
.setting .card-setting .card-header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom: 1px solid #e5e9f2;
  color: inherit;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
}
.setting .card-setting .card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}
.setting .card-setting .card-header .card-title {
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #515357;
}
.setting .card-setting .card-body {
  padding-bottom: 1.3rem;
}