@page "/offlinePage"

<div class="offlinePage text-center">
    <div class="img-offlinePage d-flex justify-content-center">
        <img class="" src="image/desktop/noKoneksi/noKoneksi1.jpg">
    </div>
    <div class="header-off">
        <p>Sambungan ke internet</p>
    </div>
    <div class="sub-header-off">
        <p>Anda sedang offline. Periksa koneksi Anda.</p>
    </div>
</div>

@code {

}
