.otp-container[b-cfzpmt07hr] {
  padding-top: 2rem;
  height: 100vh;
}
.otp-container .card[b-cfzpmt07hr] {
  -ms-flex-direction: column;
  background-clip: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #e5e9f2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
.otp-container .card .card-header[b-cfzpmt07hr] {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom: 1px solid #e5e9f2;
  color: inherit;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
}
.otp-container .card .card-header:first-child[b-cfzpmt07hr] {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}
.otp-container .card .card-header .card-title[b-cfzpmt07hr] {
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #515357;
}
@media (max-width: 1199.98px) {
  .otp-container[b-cfzpmt07hr] {
    height: 70vh;
  }
}
@media (max-width: 991.98px) {
  .otp-container[b-cfzpmt07hr] {
    height: 72vh;
  }
}
@media (max-width: 767.98px) {
  .otp-container[b-cfzpmt07hr] {
    height: 72vh;
  }
}