@page "/homeLoker"

<PageTitle>Home</PageTitle>

<style>
    @@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
</style>

<section class="home-loker">
    <div class="header-background">
        <div class="img-header">
            <img src="image/desktop/workTeam.jpg" />
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">

                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Login Akun</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>21 March, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Daftar Loker</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>5 April, 2019</span>
                        <p class="text-small mt-2 font-weight-light">
                            Temukan peluang
                            Sesuaikan kemampuan dan minat Anda dengan lowongan kami!
                            <br />
                            Siapkan resume Anda
                            Perbaharui resume Anda dan pastikan tetap singkat, padat, dan jelas!
                        </p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Quiz Wawancara Online</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>18 August, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Sesudah Anda mendaftar, Anda diminta untuk menjawab Quiz Wawancara secara online. Tolong isi Quiz dengan jujur dan cermat!</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Wawancara Tatap Muka dengan Hiring Manager kami</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10 October, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Bila anda berkesempatan untuk Wawancara tatap muka, Anda akan dihubungi melalui SMS untuk datang ke kantor kami.</p>
                        <p class="text-small mt-2 font-weight-light">Bersiaplah untuk pertanyaan-pertanyaan yang berkaitan dengan perilaku, hipotesis, dan studi kasus yang terkait dengan lowongan yang Anda pilih!</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Tawaran Kerja</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10 October, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Rekruter kami akan menghubungi Anda lagi melalui telepon atau sms untuk memberikan kabar baik tentang tawaran pekerjaan!</p>
                    </li>
                </ul><!-- End -->

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading text-center">
                    <h3>Tanya Jawab</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Bolehkah saya melamar lebih dari satu posisi pada saat yang bersamaan?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Bagaimana saya bisa tahu status lamaran saya?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div>
</section>

@code {

}
