.header-background .img-header {
  height: 250px;
  width: 100%;
}
.header-background .img-header img {
  width: 100%;
  height: 100%;
  background-position-x: 100px;
  object-fit: cover;
}
ul.timeline {
  list-style-type: none;
  padding-left: 1.5rem;
  position: relative;
}
ul.timeline:before {
  background: #ffffff;
  border-radius: 1rem;
  content: ' ';
  display: inline-block;
  height: 100%;
  left: 16px;
  position: absolute;
  width: 4px;
  z-index: 400;
}
li.timeline-item {
  margin: 20px 0;
}
li.timeline-item:before {
  background: #ffb900;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: ' ';
  display: inline-block;
  height: 14px;
  left: 11px;
  position: absolute;
  width: 14px;
  z-index: 400;
}
.timeline-arrow {
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid #ffffff;
  border-top: 0.5rem solid transparent;
  display: block;
  left: 2rem;
  position: absolute;
}
.panel-group {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 30px;
}
#accordion .panel {
  border-radius: 0;
  border: medium none;
  box-shadow: none;
  margin: 0 0 15px 10px;
}
#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}
#accordion .panel-title a {
  background: #ffb900 none repeat scroll 0 0;
  border-radius: 30px;
  border: 1px solid transparent;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a:after {
  background: #ffb900 none repeat scroll 0 0;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #ffffff;
  content: "\f107";
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
#accordion .panel-title a.collapsed {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #ffb900;
  color: #333333;
}
#accordion .panel-title a.collapsed:after {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  border: 1px solid #ffb900;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  box-shadow: none;
  color: #ffffff;
  color: #333333;
  content: "\f105";
  font-family: "Font Awesome 5 Pro";
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}
#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px;
}