@inherits LayoutComponentBase

<style>

    .layout-login {
        background: #1F2029;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #c4c3ca;
        overflow-x: hidden;
        line-height: 1.7;
    }
    
</style>

<div class="layout-login">
    @Body
</div>


@code {

}
