.offlinePage[b-bmdtmfvqkt] {
  margin-top: 1.5rem;
}
.offlinePage .img-offlinePage img[b-bmdtmfvqkt] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 500px;
}
.offlinePage .header-off[b-bmdtmfvqkt] {
  color: black;
  margin: 0;
  font-size: 18px;
}
.offlinePage .sub-header-off[b-bmdtmfvqkt] {
  color: black;
  margin: 0;
  font-size: 18px;
}