@page "/"
@inherits IndexBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime Js
@inject NavigationManager navigationManager

<!--Blazor Loker-->
<div>
    <BlazorLoker2022.Pages.Loker.PelamarLoker></BlazorLoker2022.Pages.Loker.PelamarLoker>
</div>

@code {
   
}
