.edit-form[b-yth5ww87tt] {
  margin-top: 20px;
  padding-bottom: 15px;
}
.edit-form h5[b-yth5ww87tt] {
  color: #515357;
  font-size: 20px;
  margin-bottom: 0.8rem;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.edit-form .jarak[b-yth5ww87tt] {
  margin-bottom: 0.6rem;
}
.edit-form .jarak .form-label[b-yth5ww87tt] {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  margin-bottom: 3px;
}